@import "tailwindcss";

@source "../../templates/**/*.html";
@source "../../apps/**/*.py";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-light: var(--color-rose-400);
  --color-primary: var(--color-rose-500);
  --color-primary-dark: var(--color-rose-600);
}
